@use '../../sass/variables' as *;

.itemList-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 106px;
  table{
    max-width: 900px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    thead{
      position: relative;
      th{
        padding: 10px;
        width: 30%;
        font-size: $medium-font;
        font-weight: 600;
      }
      .position-start{
        text-align: start;
      }
      .position-end{
        text-align: end;
      }
    }
    tbody{
      position: relative;
      td{
        padding: 5px;
        color: $description-color;
        font-size: $small-font;
        padding-top: 20px;
      }
      .position-start{
        text-align: start;
      }
      .position-end{
        display: flex;
        justify-content: end;
      }
      img{
        width: 20px;
        margin-left: 15px;
        cursor: pointer;
        margin-right: 20px;
      }

      form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: absolute;
        gap: 30px;
        padding: 10px;
        
        input{
          flex: 1;
          height: 30px;
          border: none;
          background-color: transparent;
          transition: .3s;
          color: #FFF;
          font-size: 1.2rem;

          &::placeholder{
            font-size: 1.2rem;
            padding: 20px;
            color: #999;
            font-style: italic;
          }
          &:focus{
            outline: none;
            border-bottom: 1px solid #fff;
            border-radius: 5px;
          }
        }
        button{
          width: 100px;
          border-radius: 30px;
          font-size: 1rem;
          border: none;
          cursor: pointer;
          transition: .4s;
          &:hover{
            background-color: #222;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 430px){
  .itemList-container{
    table{
      thead{
        th{
          font-size: 1.5rem;
        }
      }
      tbody{
        position: relative;
        td{
          font-size: 1.3rem;
        }
        img{
          width: 15px;
          margin-right: 0px;
        }
  
        form{
          button{
            width: 70px;
            margin-right: 40px;
          }
        }
      }
    }
  }
}

@media (max-width: 390px){
  .itemList-container{
    table{
      tbody{
        form{
          input{
            width: 20%;
          }
          button{
            width: 70px;
            margin-right: 40px;
          }
        }
      }
    }
  }
}