@use '../../sass/variables' as *;

.deleteItem{
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  .deleteItem-container{
    background-color: #FFF;
    color: #000;
    width: 758px;
    height: 436px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    h1{
      margin-bottom: 57px;
      font-size: 35px;
      font-weight: 600;
    }
    p{
      margin-bottom: 85px;
      font-size: $small-font;
    }
    .deleteItem-buttons{
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 77px;
        text-decoration: none;
        color: #FFF;
        font-size: $medium-font;
        border-radius: 10px;
        background-color: $secondary-color;
        border: none;
        cursor: pointer;
        transition: .4s;

        &:hover{
          opacity: .6;
        }
      }
      .yes{
        background-color: #fff;
        border: 1px solid #999;
        color: #000;
      }
    }
  }
}